.env.*
.env*
!.env*.sample

# Dependency directories
node_modules/
celeste/celeste-backend.yaml
others/price-oracle.yaml
others/fluid-proposals.yaml
others/honeymaker.yaml
others/price-oracle-goerli.yaml
